{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quiz Website{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
        }
    </script>
</head>
<body>

    {% include 'core/navbar.html' %}
    
    {% block content %}
        
    {% endblock content %}
        

    {% include 'core/footer.html' %}



   
  

  
 
</body>
</html>